# setuptools==65.5.0 install before requirements.txt
gym==0.21.0
spriteworld
tqdm
torch
wandb
hydra-core
omegaconf
numpy==1.23.1 # np.bool issues
pillow
moviepy
imageio
h5py
coverage
black
stable-baselines3==1.5.0
imageio-ffmpeg
moviepy
imageio
pyvirtualdisplay
portpicker
gym_unity
pandas
tensorboard
causal_world
opencv-python==4.7.0.72
timm==0.4.12 # for pytorch 2.
