# pip install setuptools==65.5.0 "wheel<0.40.0" pip==24.0
gym==0.21.0
spriteworld
tqdm
torch
wandb
comet_ml
hydra-core
omegaconf
matplotlib
scikit-image
numpy==1.23.1 # np.bool issues
pillow
moviepy
imageio
h5py
coverage
black
stable-baselines3==1.5.0
imageio-ffmpeg
moviepy
imageio
pyvirtualdisplay
portpicker
gym_unity
pandas
tensorboard
causal_world
opencv-python==4.7.0.72
timm==0.4.12 # for pytorch 2.
torchdata==0.9.0
braceexpand
torchtyping
